<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'app.ui.monsieur_geek'|trans }}</h4>
            {{ form_row(settings.form.editor) }}
        </div>
    </div>
</div>
